<!DOCTYPE html>
<head>
	<title>手机 - Lodo 精品导购</title>
	<meta name="keywords" content="Lodo 精品导购,淘宝精品导购" />
	<meta name="description" content="Lodo 精品导购,淘宝精品导购" />
	<meta name="author" content="Lodo 精品导购" />
	<meta name="Copyright" content="Copyright (c) 2012-2013" />
	<%= stylesheet_link_tag 'phone' %>
</head>

<body>
<div id="wapper">
<div class="mtop">
	<div class="mtop-fav"><span>收藏</span></div>
	<div class="mtop-an"><b>Lodo 精品导购</b> - 淘宝精品导购，本站所有店铺均加入消费者保障协会，请放心购物！</div>
</div>
<div id="Container">
	<div id="Header">
		<ul>
			<li>搜索</li>
			<li>品牌</li>
			<li>价格</li>
		</ul>
	</div>
	<div id="PageBody" class="clearfix">
		<div class="main">
			<ul>
				<li>
					<img src="/assets/phone01.jpg" />
				</li>
				<li>
					<img src="/assets/phone02.jpg" />
				</li>
			</ul>
		</div>
		<div class="side">
		</div>
	</div>
</div>
</div>
</body>
</html>