<div style="margin:50px 0 0 170px; height:340px; font-size:20px;"> 
	<div style="width:590px;height:295px;background:url(/assets/404_bg.gif) no-repeat;">
		<div style="padding-top:244px;text-align:center;font-size:12px;font-weight:bold; font-family:Microsoft YaHei, SimSun;color:#666;">非常抱歉，您访问的页面没找到。您可以返回查看其它页面。</div>
		<div style="padding-top:4px;text-align:center;"><a href="/" style="font-size:12px;font-weight:bold;color:#993300;">返回首页</a></div>
	</div>
</div>