
<div class="about_menu">
	<ul>
		<li><a href="/about/us">关于我们</a></li>
		<li class="current"><a href="/about/contact">联系我们</a></li>
	</ul>
</div>
<div class="about_con">
	<h2>联系我们</h2>
	<p>
		地址：北京朝阳区<br />
		邮件：395693519@qq.com
	</p>
	<p>&nbsp;</p>
	<h2>商务合作</h2>
	<p>
		我们欢迎各大行业的B2C厂商、淘宝店、品牌厂商以及线下零售店和我们合作。<br />
		QQ：395693519
	</p>
</div>
