
<div class="about_menu">
	<ul>
		<li class="current"><a href="/about/us">关于我们</a></li>
		<li><a href="/about/contact">联系我们</a></li>
	</ul>
</div>
<div class="about_con">
	<h2>关于我们</h2>
	<p>LodoTao是专注于淘宝精品导购网站。</p>
</div>
