*{margin:0;padding:0;}
body{margin:0;padding:0;font-size:12px;color:#000000;text-align:center;background:#FFF;font-family:simsun;}
form,ul,ul li,p{margin:0;padding:0;}
ul, ul li{list-style:none;}
a{color:#437bc6;text-decoration:none;}
a:hover{color:#ff6801;text-decoration:underline;}
select input{font-size:12px;}

img{border:0px;}

.clearBoth{clear:both;}
.divclear{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }
* html>body .clearfix { display:inline-block; width:100%; }
* html .clearfix { height:1%; /* End hide from IE-mac */ } 
/* ie7 hack*/ 
*+html .clearfix { min-height:1%; } 
.clearfix{zoom:1;} 

#wapper{width:100%;text-align:center;margin:0 auto;}
#Container{width:990px;text-align:left;margin:0 auto;}
#Header{height:80px;line-height:80px;}
	#Header a{margin-left:60px;font-size:14px;font-weight:bold;}
	#Header a:hover{text-decoration:none;}

#search{border:1px solid #D8D8D8;margin-bottom:12px;padding:10px 0 10px 20px;background:#F9F9F9;}
	#search input{padding:2px 12px;border:1px solid #D8D8D8;background:#FFFFFF;line-height:18px;}
	
#PageBody{margin-top:12px;}
	.apis_list{float:left;display:inline;width:180px;padding:20px 0 20px 20px;border:1px solid #D8D8D8;}
		.apis_list li{line-height:28px;}

	.main{float:right;display:inline;width:780px;border:1px solid #D8D8D8;}

#Foot{margin-top:32px;}
	.footer{border-top:1px solid #D8D8D8;padding:20px 0 40px 0;text-align:center;color:#7E7E7E;}

.pagination{text-align:center;line-height:28px;padding:10px 0 20px;}
	.pagination span{border:1px solid #CCC;padding:2px 8px;}
	.pagination em{border:1px solid #CCC;font-style:normal;padding:2px 8px;}
	.pagination a{border:1px solid #CCC;padding:2px 8px;}
	.pagination a:hover{background:#EEE;}

.query_form{padding:60px 0 60px 80px;}
	.query_form ul{}
	.query_form ul li{height:30px;line-height:30px;}
	.query_form ul li span{display:inline-block;margin-right:8px;width:120px;text-align:right;}
	.query_form ul li input{padding:2px 2px;line-height:16px;border:1px solid #D8D8D8;}
	.query_form ul li label{cursor:pointer;}
	.query_form p{padding:20px 0 0 0;}
	.query_form p input{margin-left:160px;padding:2px 18px;}

.get_show{float:right;display:inline;width:760px;}
	.items_list{}
		.items_list li{position:relative;float:left;display:inline;width:160px;margin:9px 6px 0 0 ;padding:10px;border:1px solid #D8D8D8;}
		.items_list li:hover{background:#EEE;}
		.items_list li.hover{background:#EEE;}
		.items_list li .pimg{width:160px;height:160px;}
		.items_list li p{line-height:22px;text-align:left;}
		.items_list li p.title{margin:4px 0;height:60px;line-height:20px;}
		.items_list li p span{float:right;display:inline;}
		.items_list li p b.volume{padding-left:2px;color:#999;}
		.items_list li p b.price{padding-left:2px;color:#ff6801;font-size:14px;}
		a.lsg{margin-top:3px;display:block;width:29px;height:15px;background:url("/assets/imgs_button.png") no-repeat scroll -28px -296px transparent; overflow: hidden; text-indent: -999px;}
		.items_list li p a{position:relative;}
		.items_list li p a span{display:none;position:absolute;top:20px;background:#EEE;border:1px solid #D8D8D8;border-top:0;padding:0 4px;}
		.items_list li p a:hover span{display:block;}
		.items_list li p a span img{height:16px;}
		.item-pop-details{display:none;position:absolute;top:10px;left:0;width:172px;padding:2px 4px;line-height:22px;background:#000;opacity:.9;color:#FFF;}
		.items_list li:hover .item-pop-details{display:block;}
		.item-pop-details dt{clear:left;float:left;display:inline-block;width:80px;padding:0 4px 0 0;text-align:right;overflow:hidden;white-space:nowrap;}
		.item-pop-details dd{float:left;display:inline;padding-left:4px;overflow:hidden;white-space:nowrap;}
	.items_total{padding:20px 0;}
	
/* itemcats */
.itemcats{padding:20px;}
	.itemcats li{float:left;display:inline;width:245px;line-height:28px;}
	.itemcats li a{font-size:14px;}
	
/* show */
.p_show{}
	.p_show h2{padding:8px 0;font-size:18px;font-weight:bold;line-height:32px;}
	.p_show_img{float:left;display:inline;width:320px;}
		.p_show_img img{width:320px;height:320px;}
	.p_show_props{float:left;display:inline;margin-left:18px;width:380px;}
		.p_show_props ul{padding:10px 0;}
		.p_show_props ul li{line-height:28px;}
		.p_show_props ul li span.price{padding-left:2px;color:#C00;font-size:24px;}
		.p_show_props p{border-top:1px solid #D8D8D8;padding:20px 0;}
	.p_show_detail{margin-top:20px;}
		.p_show_detail h4{font-size:14px;font-weight:bold;border-bottom:1px solid #D8D8D8;line-height:28px;}
		.p_show_detail .p_show_detail_con{padding-top:20px;}

/* api_item_list */
.api_item_list{}
	.api_item_list ul{padding:20px;}
	.api_item_list li{line-height:23px;word-break:break-all;}
	.api_item_list li span{float:right;display:inline;color:#FF0000;}
