*{margin:0;padding:0;}
body{margin:0;padding:0;font-size:12px;color:#000000;text-align:center;background:#FFF;font-family:simsun;}
form,ul,ul li,p{margin:0;padding:0;}
ul, ul li{list-style:none;}
a{color:#437bc6;text-decoration:none;}
a:hover{color:#ff6801;text-decoration:underline;}
select input{font-size:12px;}

img{border:0px;}

.clearBoth{clear:both;}
.divclear{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }
* html>body .clearfix { display:inline-block; width:100%; }
* html .clearfix { height:1%; /* End hide from IE-mac */ } 
/* ie7 hack*/ 
*+html .clearfix { min-height:1%; } 
.clearfix{zoom:1;} 

#wapper{width:100%;text-align:center;margin:0 auto;}
.mtop{padding:0 20px;border-bottom:1px solid #D8D8D8;background:#F9F9F9;line-height:26px;text-align:left;}
.mtop-fav{float:right;display:inline;}
.mtop-an{}

#Container{text-align:left;}
#Header{border-bottom:1px solid #D8D8D8;}

#PageBody{display:table;}
.main{display:table-cell;width:75%;}
.side{display:table-cell;width:25%;border-left:1px solid #D8D8D8;}
