<!DOCTYPE html>
<head>
	<title>Lodo 精品导购</title>
	<meta name="keywords" content="Lodo 精品导购,淘宝精品导购" />
	<meta name="description" content="Lodo 精品导购,淘宝精品导购" />
	<meta name="author" content="Lodo 精品导购" />
	<meta name="Copyright" content="Copyright (c) 2012-2013" />
	<%= stylesheet_link_tag 'common' %>
</head>

<body>
<div id="wapper">
<div class="mtop">
	<div class="mtop_con">淘宝精品导购，本站所有店铺均加入消费者保障协会，请放心购物！</div>
</div>
<div id="Container">
	<div id="Header" class="clearfix">
		<div class="logo"><a href="/">Lodo 精品导购</a></div>
		<div class="search">
			<%= form_tag '/q' do %>
			<input type="text" name="q" value="<% if @keyword %><%= @keyword %><% end %>" class="i_search" />
			<input type="submit" name="submit" value="搜" class="i_submit" />
			<% end %>
			<p>
				<a href="/q/雪纺">雪纺</a>
				<a href="/q/通勤">通勤</a>
				<a href="/q/淑女">淑女</a>
				<a href="/q/学院">学院</a>
				<a href="/q/连体裤">连体裤</a>
				<a href="/q/韩版">韩版</a>
				<a href="/q/格子">格子</a>
				<a href="/q/手绘">手绘</a>
				<a href="/q/条纹">条纹</a>
				<a href="/q/圆点">圆点</a>
				<a href="/q/中袖">中袖</a>
				<a href="/q/休闲">休闲</a>
				<a href="/q/甜美">甜美</a>
				<a href="/q/正品">正品</a>
				<a href="/q/代购">代购</a>
			</p>
		</div>
	</div>
	<div id="PageBody" class="clearfix">
		<%= yield %>
	</div>
	<div id="Foot">
		<div class="footer clearfix">
			<div class="about">
				<a href="/about/us" class="first">关于我们</a>
				<a href="/about/contact">联系我们</a>
				<a href="/about/itemcats">标准类目</a>
			</div>
			<div class="copy">Copyright © 2012-2013 Lodo 精品导购 All Rights Reserved</div>
		</div>
	</div>
</div>
</div>
</body>
</html>